// @import '../../../node_modules/@angular/material/prebuilt-themes/pink-bluegrey';
@import '~@angular/material/theming';

$input-padding: 0px 0px 13.5px 16px; //padding: 0px 0px 8px 16px;

.shortener-component-grid {
  display: grid;
  justify-self: center;
  grid-template:
    "input" min-content
    //TODO fill rest of available space
    "cards" 60vh / minmax(10vw, 95vw)
    //"cards" minmax(50px, 1fr) / minmax(10vw, 95vw)
    ;

  .input-container {
    grid-area: input;
    display: flex;

    min-width: 40%;
    max-width: 95%;
    //width: 70%;
  }

  .card-container {
    grid-area: cards;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;

    // https://stackoverflow.com/questions/3296644/hiding-the-scrollbar-on-an-html-page/25561646#25561646
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.input-box {
  min-width: 300px;//max(300px, 35vw);
  max-width: 98vw;
  //width: 35vw;1
  text-align: center;
}


//use ::ng-deep instead of /deep/ since /deep/ and >>> are deprecated
// CSS for "text field box" > https://material-components-web.appspot.com/text-field.html
::ng-deep .input-box .mat-form-field-wrapper .mat-form-field-flex {
  @include mat-elevation(8);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px 4px 0 0; // border in the top corners
  border: 0;

  .mat-input-infix *{
    //margin: -5px 10px 5px 10px;
    //align-self: center;
  }

  .mat-form-field-suffix {
    //align-self: center;
  }

  .mat-input-suffix, .mat-form-field-suffix, .mat-form-field-infix input, .mat-form-field-infix * {
  //.mat-form-field-infix input, .mat-form-field-infix * {
    padding: 0 10px 5px 10px;
    //margin-top: -5px;
  }

  .mat-icon {
    //cursor: pointer;
    padding-left: 5px;
    font-size: x-large;
    margin-top: -15px;
  }
}


// ::ng-deep .mat-form-field-label-wrapper > *, .mat-input-placeholder-wrapper > *, .mat-form-field-placeholder-wrapper > * {
::ng-deep .mat-form-field-label {
  // @extend .input-box;
}

// prevents glitches:
::ng-deep .mat-form-field-flex {
  //width: 102% !important;
}

#invisible-text-id {
  white-space: pre; //nowrap;

  position: absolute;
  height: 0;
  overflow: hidden;

  //visibility: auto;
  //color: red
}

 ::ng-deep .mat-input-infix, .mat-form-field-infix {
//   margin: 0 10px 5px 10px;
//   border: 0px;
 }

 ::ng-deep .mat-input-suffix, .mat-form-field-suffix {
//   @extend .mat-form-field-infix;
//   // margin: 0 10px 5px 10px;
//   padding: 0px 0 7px 0;
 }

::ng-deep .mat-input-element, .mat-form-field-autofill-control {
  // padding: 20px;
}

 ::ng-deep .input-box .mat-input-placeholder {
//   padding: $input-padding;
//   position: initial;
 }

::ng-deep .mat-input-element {
  //padding: 8px !important;
}

.search-box-div {
  //display: flex;
  //flex-direction: row;
  //flex: 1;
}

.row-div {
  //width: 100%;

  //flex-direction: row;
  //flex-grow: 1 0 auto;
  //align-items: stretch;
}

.after-row-div {
  //align-items: center;

  //offset-before: 25%;
  //offset-start: 25%;
  //min-width: 300px;
  //flex-basis: 50%;
}

.after-row-div button {
  //margin-top: 10px;
}

.link-card {
  //max-width: 800px;
}

.card-container {
  //max-height: fit-content;
  //overflow: hidden;
  //overflow-y: scroll;
}
