<div fxFill>

  <mat-card class="aboutCard">

    <mat-card-title-group>
      <mat-card-title>
        <ng-container i18n="title of the about mat-card@@about.title">TinyGU.de &nbsp; & &nbsp; goethe.link</ng-container>
      </mat-card-title>
      <mat-card-subtitle>
        <ng-container i18n="subtitle of about mat-card@@about.subtitle">Der URL Shortener der Goethe-Universität Frankfurt am Main</ng-container>
      </mat-card-subtitle>
      <img mat-card-sm-image src="assets/link_icon.png">
    </mat-card-title-group>

    <p i18n="history and about tinygu@@about.content.history">TinyGU ist eine Eignentwicklung der Goethe Universität durch PhysikOnline. Mit dieser Seite wird ein URL
      Shortener bereitgestellt der ausschließlich auf Webseiten die von der Goethe Universität betrieben werden
      verweist. Dadurch ist bei Nutzung dieses Dienstes gewährleistet, dass man nur auf Seiten der Goethe Universität
      weitergeleitet wird.</p>
    <p i18n="technical aspects of tinygu@@about.content.tech">Entwickelt wurde TinyGU als OpenSource Projekt von Physikonline. Der source code ist auf GitHub einsehbar. Zum
      Mitmachen wird eingeladen!<br><br>

      Das Frontend wurde mit Angular entwickelt und findet sich hier: https://github.com/PhysikOnline-FFM/tinyGU/<br>
      Das Backend wurde mit .NET core 2 entwickelt und findet sich hier: https://github.com/PhysikOnline-FFM/tinygu_backend</p>

  </mat-card>

</div>
