<mat-sidenav-container class="main-side-nav" fullscreen ><!--style="background-color: #2196F3"> <!--TODO: remove inline style style="background-color: #005ea8"-->

  <img src="assets/goethe_head_blue.svg" id="goethe-head">

  <mat-sidenav #start>

    <mat-nav-list class="mat-nav-list">

      <p mat-card-title
         routerLink
         [routerLink]="['/short']"
         (click)="start.close()"
          style="padding: 0px 2em;"> <!--TODO inline style-->
        TinyGU
      </p>

      <a *ngFor="let navItem of navItems"
         mat-list-item
         routerLinkActive
         #routerLinkActiveInstance="routerLinkActive"
         [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
         [routerLink]="[navItem.route]"
         (click)="start.close()">
        {{ navItem.name }}
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <div fxLayout="column" fxFlexFill>

    <!--<div fxFlex="">-->
    <mat-toolbar color="primary" class="mat-toolbar"  style="background-color: transparent"> <!--TODO: remove inline style style="background-color: transparent"-->

      <!--<div fxLayoutAlign="center">-->
        <div fxLayoutAlign="none center">
          <button mat-icon-button
                  (click)="start.open('mouse')">
            <mat-icon>menu</mat-icon>
          </button>

          <span>TinyGU</span>
        </div>

        <div fxFlex="1 1 auto"></div>

        <div *ngIf="easteregg">
          <button mat-raised-button color="primary">primary</button>
          <button mat-raised-button color="warn">warn</button>
          <button mat-raised-button color="accent">accent</button>
          <button class="mat-raised-button">Language</button>
        </div>
        <div>
          <button mat-button>Login</button>
          <button class="mat-button" (click)="easteregg = !easteregg">Language</button>
        </div>
      <!--</div>-->

    </mat-toolbar>
    <!--</div>-->

    <div fxFlex>
      <router-outlet></router-outlet>
    </div>

    <!--<div fxFlex>-->
    <mat-card-footer fxLayoutAlign="center">
      <p class="mat-body">Build with <span style="color: #FF8E8E;font-size: 140%;">♥</span> by
        <a href="https://physikonline.uni-frankfurt.de">
          PhysikOnline
        </a>
      </p>
    </mat-card-footer>
    <!--</div>-->

  </div>

</mat-sidenav-container>
