#goethe-head {
  position: fixed;
  z-index:-1;
  height: 100%;
  left: 50%;
}

@media (max-width: 1024px) {
  #goethe-head {
    left: 40%;
  }
}

@media (max-width: 600px) {
  #goethe-head {
    left: 10%;
  }
}
.mat-card-footer a {
  color: white;
  text-decoration: none;
}
