html, body{height:100%}

//#goethe-head {
//  width:100%;
//  background: url("../assets/goethe_head_blue.svg") no-repeat right; // bottom;
//  //background-repeat: no-repeat;
//  //background-position: center right; // bottom
//  background-size: cover; // contain
//  padding-right: 50%;
//  background-position-x: 50%;
//  //left:50%;
//  height:100%;
//  position: absolute;
//  z-index: -1;
//  float: right;
//}

#goethe-head {
  position: fixed;
  z-index:-1;
  height: 100%;
  left: 50%;
}

@media (max-width: 1024px) {
  #goethe-head {
    left: 40%;
  }
}

@media (max-width: 600px) {
  #goethe-head {
    left: 10%;
  }
}

.mat-card-footer a {
  color: white;
  text-decoration: none;
}
