<mat-sidenav-container class="main-side-nav" fullscreen ><!--style="background-color: #2196F3"> <!--TODO: remove inline style style="background-color: #005ea8"-->

  <img src="assets/goethe_head_blue.svg" id="goethe-head">
  <!--<img id="goethe-head">-->
  <!--<a href='https://github.com/PhysikOnline-FFM/tinyGU' style='position:fixed;padding:5px 45px;width:128px;bottom:50px;left:-50px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);box-shadow:0 0 0 3px #182c42, 0 0 20px -3px rgba(0, 0, 0, 0.5);text-shadow:0 0 0 #ffffff, 0 0 5px rgba(0, 0, 0, 0.3);background-color:#182c42;color:#ffffff;font-size:13px;font-family:sans-serif;text-decoration:none;font-weight:bold;border:2px dotted #ffffff;-webkit-backface-visibility:hidden;letter-spacing:.5px;'>Fork me on GitHub</a>-->
  <!--<a href='https://github.com/PhysikOnline-FFM/tinyGU' style='position:fixed;padding:5px 45px;width:128px;bottom:50px;right:-50px;-webkit-transform:rotate(315deg);-moz-transform:rotate(315deg);-ms-transform:rotate(315deg);transform:rotate(315deg);box-shadow:0 0 0 3px #182c42, 0 0 20px -3px rgba(0, 0, 0, 0.5);text-shadow:0 0 0 #ffffff, 0 0 5px rgba(0, 0, 0, 0.3);background-color:#182c42;color:#ffffff;font-size:13px;font-family:sans-serif;text-decoration:none;font-weight:bold;border:2px dotted #ffffff;-webkit-backface-visibility:hidden;letter-spacing:.5px;'>Fork me on GitHub</a>-->

  <mat-sidenav #start>

    <mat-nav-list class="mat-nav-list">

      <!--TODO inline style-->
      <p mat-card-title
         routerLink
         [routerLink]="['/']"
         (click)="start.close()"
         style="padding: 0px 2em;"
         i18n="#TinyGU# the title of the app@@app.tinyGU">TinyGU</p>

      <a *ngFor="let navItem of navItems"
         mat-list-item
         routerLinkActive
         #routerLinkActiveInstance="routerLinkActive"
         [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
         [routerLink]="[navItem.route]"
         (click)="start.close()">
        {{ navItem.name }}
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <div fxLayout="column" fxFlexFill> <!--id="goethe-head">-->

    <!--<div fxFlex="">-->
    <mat-toolbar color="primary" class="mat-toolbar"  style="background-color: transparent"> <!--TODO: remove inline style style="background-color: transparent"-->

      <!--<div fxLayoutAlign="center">-->
        <div fxLayoutAlign="none center">
          <button mat-icon-button
                  (click)="start.open('mouse')">
            <mat-icon>menu</mat-icon>
          </button>

          <span i18n="@@app.tinyGU">TinyGU</span>
        </div>

        <div fxFlex="1 1 auto"></div>

        <div *ngIf="easteregg">
          <button mat-raised-button color="primary">primary</button>
          <button mat-raised-button color="warn">warn</button>
          <button mat-raised-button color="accent">accent</button>
          <button class="mat-raised-button">Language</button>
        </div>
        <div>
          <!--<button mat-icon-button (click)="easteregg = !easteregg"><mat-icon>language</mat-icon></button>-->
          <button mat-icon-button matTooltip="Language" (click)=langDetect()><mat-icon>language</mat-icon></button>
          <!-- help_outline / help / info_outline / info -->
          <!--<button mat-icon-button matTooltip="Help" routerLink="help"><mat-icon>help</mat-icon></button>-->
          <button mat-icon-button matTooltip="Help" (click)=openHelpAsModal()><mat-icon>help</mat-icon></button>
          <!--<button mat-button>Login</button>-->
          <!-- exit_to_app / account_box / account_circle / perm_identity / person / person_outline / supervisor_account -->
          <button mat-icon-button matTooltip="Login"><mat-icon>account_circle</mat-icon></button>
        </div>
      <!--</div>-->

    </mat-toolbar>
    <!--</div>-->

    <div fxFlex>
      <router-outlet></router-outlet>
    </div>

    <!--<div fxFlex>-->
    <mat-card-footer fxLayoutAlign="center">
      <p class="mat-body">Build with <span style="color: #FF8E8E;font-size: 140%;">♥</span> by
        <a href="https://physikonline.uni-frankfurt.de">
          PhysikOnline
        </a>
      </p>
    </mat-card-footer>
    <!--</div>-->

  </div>

</mat-sidenav-container>
