<mat-sidenav-container class="main-side-nav" fullscreen style="background-color: #005ea8"> <!--TODO: remove inline style style="background-color: #005ea8"-->

  <img src="../assets/goethe_head_blue.svg" id="goethe-head">

  <mat-sidenav #start>

    <mat-nav-list class="mat-nav-list">

      <span mat-card-title
            routerLink
            [routerLink]="['/short']"
            (click)="start.close()">
        TinyGU
      </span>

      <a *ngFor="let navItem of navItems"
         mat-list-item
         routerLinkActive
         #routerLinkActiveInstance="routerLinkActive"
         [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
         [routerLink]="[navItem.route]"
         (click)="start.close()">
        {{ navItem.name }}
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <div fxLayout="column" fxFlexFill>

    <!--<div fxFlex="">-->
    <mat-toolbar color="primary" class="mat-toolbar" style="background-color: transparent"> <!--TODO: remove inline style style="background-color: transparent"-->

      <div>
        <button mat-icon-button
                (click)="start.open('mouse')">
          <mat-icon>menu</mat-icon>
        </button>

        <span>TinyGU</span>
      </div>

      <div>
        <a href = "" class="mat-tab-link">Login</a >
        <a href = "" >Language</a >
      </div>

    </mat-toolbar>
    <!--</div>-->

    <div fxFlex>
      <router-outlet></router-outlet>
    </div>

    <!--<div fxFlex>-->
    <mat-card-footer fxLayoutAlign="center">
      <span class="mat-grid-tile-footer">Build with <span style="color: #FF8E8E;font-size: 140%;">♥</span> by <a href="https://physikonline.uni-frankfurt.de">PhysikOnline</a></span>
    </mat-card-footer>
    <!--</div>-->

  </div>

</mat-sidenav-container>
