<mat-toolbar color="primary" class="mat-toolbar" style="background-color: transparent">
  <!--TODO: remove inline style style="background-color: transparent"-->

  <div fxLayoutAlign="none center">
    <button mat-icon-button (click)="onSideNavOpen('mouse')">
      <mat-icon>menu</mat-icon>
    </button>

    <!--<span i 1 8 n="@@app.toolbar-title"-->
    <span class="no-style-button" [routerLink]="['/']">{{ 'TinyGU' | titleSetter }}</span>
  </div>

  <div fxFlex="1 1 auto"></div>

  <div>

    <!--<button mat-icon-button matTooltip="Language" (click)=select.open()>-->
      <!--<mat-icon>language</mat-icon>-->
      <!--<mat-select #select [(ngModel)]="setLang" class="lang-select">-->
        <!--<mat-option (click)="changeLang()" value="en" i18n="choose english as language@@app.lang.english">English</mat-option>-->
        <!--<mat-option (click)="changeLang()" value="de" i18n="choose german as language@@app.lang.german">Deutsch</mat-option>-->
      <!--</mat-select>-->
    <!--</button>-->

    <!--<button mat-icon-button (click)=langMenu.open()>-->
    <button mat-icon-button [matMenuTriggerFor]="langMenu">
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #langMenu="matMenu">
      <button mat-menu-item (click)="changeLang()" value="en">English</button>
      <button mat-menu-item (click)="changeLang()" value="de">Deutsch</button>
    </mat-menu>

    <!-- help_outline / help / info_outline / info -->
    <button mat-icon-button matTooltip="Help" (click)=openHelpAsModal()>
      <mat-icon>help</mat-icon>
    </button>
    <!-- exit_to_app / account_box / account_circle / perm_identity / person / person_outline / supervisor_account -->
    <button mat-icon-button matTooltip="Login" (click)=openLoginAsModal()>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>

</mat-toolbar>
