<mat-nav-list class="mat-nav-list">

  <div hidden #test i18n="@@yes0" name="@@yes0">Yes0</div>
  <div hidden #test i18n="@@yes1" name="@@yes1">Yes1</div>
  <div hidden #test i18n="@@yes2" name="@@yes2">Yes2</div>

  <!--TODO inline style-->
  <p mat-card-title routerLink [routerLink]="['/']" (click)="onSideNavClose()" class="no-style-button" style="padding: 0px 2em;">{{ 'TinyGU' | titleSetter }}</p>
  <!--style="padding: 0px 2em;">TinyGU</p>-->
  <!--i 1 8 n="TinyGU - the title of the app@@app.sidenav-title">{{ TinyGU | titleSetter }}</p>-->

  <a *ngFor="let navItem of navItems" mat-list-item routerLinkActive #routerLinkActiveInstance="routerLinkActive" [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
    [routerLink]="[navItem.route]" (click)="onSideNavClose()">
    {{ navItem.name }}
  </a>

</mat-nav-list>
